[Unit]
Description=Immich Server
After=local-fs.target
Requires=immich-database.service immich-redis.service

[Container]
Image=ghcr.io/immich-app/immich-server:release
ContainerName=immich-server
Pod=immich.pod
Environment=DB_HOSTNAME=localhost
Environment=DB_USERNAME=postgres
Environment=DB_PASSWORD=postgres
Environment=DB_DATABASE_NAME=immich
Environment=REDIS_HOSTNAME=localhost
Volume=/mnt/pictures/immich:/usr/src/app/upload:Z

[Install]
WantedBy=default.target
